@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font : "Poppins", sans-serif;
$primary: #596f0d;
$primary-dark: #3a4808;

*, #root {
    margin: 0;
    padding: 0;
    font-family: $font;
    box-sizing: border-box;
}
#root {
    overflow: hidden;
}

a { 
    text-decoration: none;
    color: white;
}

h1, h2, h3{
    font-weight: 600;
}

.input__double {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
}

.input__container {
    position: relative; 
    padding: 15px 0 0;
    
    label {
        position: absolute;
        top: 0;
        display: block;
        transition: .2s ease all;
        font-size: 1rem;
    }

    input {
        width: 100%;
        border: 0;
        border-bottom: 2px solid white;
        outline: 0;
        font-size: 1.3rem;
        color: white;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        color-scheme: dark;

        &::placeholder {
            color: transparent;
        }

        &:placeholder-shown ~ label {
            font-size: 1.3rem;
            cursor: text;
            top: 20px;
        }

        &:focus {
            ~ label {
              position: absolute;
              top: 0;
              display: block;
              font-size: 1rem;
              color: $primary;
            }
            padding-bottom: 6px;  
            border-width: 3px;
            border-image: linear-gradient(to right, $primary, $primary);
            border-image-slice: 1;
        }
    }

    select {
        border:0;
        background:none;
        outline: none;

        width: 100%;
        border: 0;
        border-bottom: 2px solid white;
        outline: 0;
        font-size: 1.3rem;
        color: white;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        // color-scheme: dark;
        margin-bottom: 15px;
        option {
            color: black;
        }

        &:focus {
            ~ label {
                position: absolute;
                top: 0;
                display: block;
                font-size: 1rem;
                color: $primary;
              //   font-weight: 700;
              }
            padding-bottom: 6px;  
            // font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, $primary, $primary);
            border-image-slice: 1;
        }
    }

    &--black {
        input {
            &:focus {
                ~ label {
                  position: absolute;
                  top: 0;
                  display: block;
                  font-size: 1rem;
                  color: white;
                }
                padding-bottom: 6px;  
                border-width: 3px;
                border-image: linear-gradient(to right, white, white);
                border-image-slice: 1;
            }
        }

        select {
            font-size: 1rem;
            &:focus {
                ~ label {
                    position: absolute;
                    top: 0;
                    display: block;
                    font-size: 1rem;
                    color: white;
                  //   font-weight: 700;
                  }
                padding-bottom: 6px;  
                // font-weight: 700;
                border-width: 3px;
                border-image: linear-gradient(to right, white, white);
                border-image-slice: 1;
            }
        }
        
    }


}

.button {
    background: $primary;
    outline: none;
    border: none;
    color: white;

    padding: 12px;
    cursor: pointer;

    font-size: 18px;

    transition: .2s ease all;

    &:hover {
        background: $primary-dark
    }
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 16px;
}

th {
    background: rgba(0,0,0,.5);
    color: white;
    font-weight: 500;
}

.datatable-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.datatable-top {
    display: flex;
    flex-direction: row;

   align-items: center;
   justify-content: space-between;
}